body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  border-top: 20px;
  border-bottom: 20px;
  height: auto;
  overflow: auto;
}

#profile-image {
  /* display: inline; */
  /* justify-content: center; */
  float: left;
  padding: 20px;
  margin-right: 20px;
}

.card-body {
  text-align: center;
}

* {
  box-sizing: border-box
}

@media screen and (max-width: 991px) {
 #profile-image {
   margin: auto;
   /* width: 100%; */
 }
}

@media screen and (max-width: 680px) {
 #profile-image {
   margin: auto;
   
 }
}

@media screen and (max-width: 450px) {
 #profile-image {
   float: none;
   margin: 0 auto;
   display: block;
   width: 80%;
 }
}